@model BookSource.Models.User

@{
    ViewData["Title"] = "Configuration";
}

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

<div class="content">


<section class="py-5 gradient-custom">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card glass-effect">
                    <div class="card-body p-5 text-center">
                        <div class="mt-md-3">
                            <h2 class="fw-bold text-uppercase">Configuracion</h2>
                            <hr class="bg-light" />
                            <p class="text-black-50 mb-2">Modifica los elementos que quieras editar</p>
                                <form asp-action="Configuration" method="post">
                                    <input asp-for="IdUser" type="hidden" />
                                    <div class="form-group">
                                        <label asp-for="UserName">Nombre de Usuario* </label>
                                        <input readonly asp-for="UserName" type="text" class="form-control" placeholder="Escribe tu usuario" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email">Correo Electrónico* </label>
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Escribe tu email" required />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Contraseña* </label>
                                        <input type="password" name="password" class="form-control" placeholder="Escribe tu contraseña" required />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BirthDate">Fecha de Nacimiento</label>
                                        <input asp-for="BirthDate" type="date" class="form-control" />
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProfileImageUrl">URL de la Imagen de Perfil (Opcional)</label>
                                        <input asp-for="ProfileImageUrl" class="form-control" />
                                        <span asp-validation-for="ProfileImageUrl" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Actualizar perfil</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div>
    <a asp-action="Index" asp-route-username=@Model.UserName>Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
