@using BookSource.Models.ViewModel
@using BookSource.Tools
@model (List<ReviewViewModel>reviewList,int idBook)

@{
    ViewData["Title"] = "BookReview";
}
<link rel="stylesheet" href="~/css/book-review.css" asp-append-version="true" />

<h1>Reviews</h1>


@foreach (ReviewViewModel review in Model.reviewList)
{
            <div class="container mt-4 review-card">
            <div class="row">
                <div class="review-user-img col-4">
                    <a class="link-user" asp-controller="User" asp-action="Index" asp-route-username=@review.UserName>
                        <img src="@(review.UserImgUrl??Tools.DefaultUserImg)" alt="Placeholder Image" class="img-fluid">
                    </a>
                </div>
                <div class="col-8">
                    <div class="row mb-3">
                        <div class="col">
                            <a class="link-user" asp-controller="User" asp-action="Index" asp-route-username=@review.UserName>
                                <div class="user-text">@review.UserName</div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="user-comment">
                            @Html.DisplayFor(modelItem => review.Comment)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

}
