@{
}
<link rel="stylesheet" href="~/css/bookListModal.css" asp-append-version="true" />

<script>
    function HidePartial() {
        document.getElementById('ViewPartial').style.display = 'none';
    }
    function AddNewList() {
      const listName =  document.getElementById('ListNameTextBox').value;

        if (listName == "") 
        { 
            alert("Inserte algun nombre");
            return;
        }
        $.ajax({
            url: '@Url.Action("AddListOfBooks", "ListOfBooks")',
            type: 'POST',
            data: {
                nameList : listName,
                    },
            success: function () {
                HidePartial();
            },
            error: function () {
                alert('Hubo un error al ejecutar la función.');
            }

        });

    }

</script>
<div id="ViewPartial" class="modal popup">
    <div class="modal-content popup-content">
        <div class="modal-header popup-header">
            Nueva Lista
            <button class="btn-close close" onclick="HidePartial()"></button>
        </div>
        <div class="modal-body popup-body">
            <input id="ListNameTextBox" type="text" placeholder="Elige un nombre">
        </div>
        <button class="btn btn-primary align-content-center" onclick="AddNewList()">Crear</button>
    </div>
</div>
