@using BookSource.Models.ViewModel
@model List<ListOfBooksViewModel>
@{
    List<ListOfBooksViewModel> lista = new List<ListOfBooksViewModel>();
}
@if(Model!=null)
{
    foreach (ListOfBooksViewModel listOfBooks in Model)
    {
        
    }
}
else
{
    <div>Sin Modelo</div>
}