@using BookSource.Models.ViewModel.TestViewModel
@model TestViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var user = ViewBag.us as string;
    var book = ViewBag.book as string;
}

@if (string.IsNullOrEmpty(user) && string.IsNullOrEmpty(book))
{
    <div style="display:flex; justify-content:space-evenly;">
        <div class="" style="border:solid 1px red">
            <h1>LOGIN TEST</h1>
            <form asp-controller="Test" asp-action="Login" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <label asp-for="UserName">Username</label>
                    <input asp-for="UserName" value="" />
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>


            <h1>Register test</h1>
            <form asp-controller="Test" asp-action="Register" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <label asp-for="UserName">Username</label>
                    <input asp-for="UserName" value="" />
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>


            <h1>GetUserTest</h1>
            <form asp-controller="Test" asp-action="GetUser" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <label asp-for="UserName">Username</label>
                    <input asp-for="UserName" value="" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" value="hardcoded" />
                </div>

                <button type="submit" class="btn btn-primary">GetUser</button>
            </form>
    </div>

        <div class="" style="border:solid 1px red">
            <h1>Get Book by Name</h1>
            <form asp-controller="Test" asp-action="GetBook" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <label asp-for="Book">Libro:</label>
                    <input asp-for="Book" value="El mundo de The Witcher. Compendio del videojuego" />
                </div>
                <button type="submit" class="btn btn-primary">GetBook</button>
            </form>

            <h1>Get All Books</h1>
            <form asp-controller="Test" asp-action="GetAllBooks" method="post" asp-antiforgery="true">
                <button type="submit">Ver todos los libros</button>
            </form>

            <h1>Get ListBooks+Books byUser</h1>
            <form asp-controller="Test" asp-action="GetListBooksByUser" method="post" asp-antiforgery="true">
                <label asp-for="UserName">Usuario:</label>
                <input asp-for="UserName" value="" />
                <button type="submit">Ver listas</button>
            </form>
            <h1>Create ListOfBook</h1>
            <form asp-controller="Test" asp-action="CreateListOfBook" method="post" asp-antiforgery="true">
                <label asp-for="UserName">Usuario:</label>
                <input asp-for="UserName" value="" />
                <label asp-for="ListOfBooks.ListName">Nombre lista:</label>
                <input asp-for="ListOfBooks.ListName" value="" />
                <button type="submit">Crear Lista</button>
            </form>
        </div>
    </div>


}
else
{
    <h1>Hola @user</h1>
    <h1> El libro es @book</h1>
    <form asp-action="DeleteCache">
        <button >Delete cache</button>
    </form>

}
<div>

</div>