.review-title-container{
    display: flex;
}
    .review-title-container a {
        margin-left: 10px;
        width: 50px;
        height: 50px;
        text-align:center;
        border-radius: 10px;
    }

.button-add-review {
    font-size: 1.5em;
    text-align: center;
}
.review-card {
    background: white;
    max-width: auto;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border: none;
    backdrop-filter: blur(2px);
}
.review-user-img
{
    max-width:80px;
}
.user-text {
    background: #5d4037;
    border-radius: 50px;
    width: fit-content;
    border: 1px solid #5d4037;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}
.user-comment {
    color: black;
    border-radius: 50px;
}
.link-user {
    text-decoration: none;
}
.link-user :hover !important {
    color: white;
    text-decoration: none;
}