/* Estilo para el fondo del navbar con efecto cristal */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px;
}

/* Contenedor de la barra de búsqueda */
.search-container {
    flex-grow: 10;
    display: flex;
}

/* Barra de búsqueda */
.form-control {
    border-radius: 25px;
    border: 1px solid #bbb;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    width: auto;
}

.input-group-text {
    border-radius: 0 25px 25px 0;
    border: 1px solid #bbb;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
}

.input-group .form-control:focus {
    box-shadow: none;
    border-color: #bbb;
}

.input-group .input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-success {
    border-radius: 50px;
    border-color: black;
    color: cornflowerblue;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}

/* Contenedor de los enlaces del menú y el botón de inicio de sesión */
.navbar-nav {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto; /* Mueve los elementos a la derecha */
}

/* Logo del navbar */
.navbar-brand {
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 1.5em;
}

/* Links del menú */
.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
    font-family: 'Georgia', serif;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #34495e;
    transform: scale(1.1);
}

/* Imagen de usuario o botón */
.navbar img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}

/* Botón de inicio de sesión */
.btn-outline-primary {
    border-radius: 50px;
    border-color: #007bff;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container {
        width: 100%;
        margin-top: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-link {
        width: 100%;
        text-align: left;
        padding: 10px 0;
    }

    .navbar img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
