dotnet publish -c Release -o out

USE [master]
GO
-- Crear el login 'root' a nivel de servidor (si no existe ya)
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = 'root')
BEGIN
    CREATE LOGIN [root] WITH PASSWORD = '1234';
END
GO

-- Crear la base de datos (si no existe)
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'BookSource')
BEGIN
    CREATE DATABASE [BookSource];
END
GO

-- Cambiar contexto a la base de datos
USE [BookSource];
GO

-- Crear el usuario en la base de datos mapeado al login
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'root')
BEGIN
    CREATE USER [root] FOR LOGIN [root];
END
GO

-- Asignar el usuario al rol db_owner (permisos completos)
ALTER ROLE [db_owner] ADD MEMBER [root];
GO
USE [BookSource]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[IdBook] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Author] [varchar](255) NOT NULL,
	[Description] [varchar](5000) NULL,
	[ImageUrl] [varchar](255) NULL,
	[Subtitle] [varchar](255) NULL,
	[Editorial] [varchar](255) NULL,
	[PageCount] [int] NULL,
	[Score] [float] NULL,
 CONSTRAINT [PK__Book__2756CBDB64B970B1] PRIMARY KEY CLUSTERED 
(
	[IdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Category]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Category](
	[FkIdCategory] [int] NOT NULL,
	[FkIdBook] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FkIdCategory] ASC,
	[FkIdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[FkIdFollower] [int] NOT NULL,
	[FkIdFollowed] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FkIdFollower] ASC,
	[FkIdFollowed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfBooks]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfBooks](
	[IdListOfBooks] [int] IDENTITY(1,1) NOT NULL,
	[ListName] [varchar](255) NOT NULL,
	[FkIdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdListOfBooks] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfBooks_Book]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfBooks_Book](
	[FkIdListOfBooks] [int] NOT NULL,
	[FkIdBook] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FkIdListOfBooks] ASC,
	[FkIdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publication]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publication](
	[IdPublication] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Content] [varchar](255) NOT NULL,
	[PubImage] [varchar](255) NULL,
	[FkIdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPublication] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicationLikes]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicationLikes](
	[FkIdUser] [int] NOT NULL,
	[FkIdPublication] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FkIdUser] ASC,
	[FkIdPublication] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[IdReview] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [varchar](512) NOT NULL,
	[FKIdBook] [int] NOT NULL,
	[FkIdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/12/2024 12:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[BirthDate] [date] NULL,
	[ProfileImageUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

GO
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
INSERT [dbo].[Book_Category] ([FkIdCategory], [FkIdBook]) VALUES (1, 161)
INSERT [dbo].[Book_Category] ([FkIdCategory], [FkIdBook]) VALUES (1, 165)
INSERT [dbo].[Book_Category] ([FkIdCategory], [FkIdBook]) VALUES (1, 168)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (31, N'American fiction')
INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (56, N'Amusement parks')
INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (57, N'Animated films')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Follow] ([FkIdFollower], [FkIdFollowed]) VALUES (7, 7)
INSERT [dbo].[Follow] ([FkIdFollower], [FkIdFollowed]) VALUES (7, 8)
INSERT [dbo].[Follow] ([FkIdFollower], [FkIdFollowed]) VALUES (7, 9)
GO
SET IDENTITY_INSERT [dbo].[ListOfBooks] ON 

INSERT [dbo].[ListOfBooks] ([IdListOfBooks], [ListName], [FkIdUser]) VALUES (2, N'Lista de Juan', 8)
INSERT [dbo].[ListOfBooks] ([IdListOfBooks], [ListName], [FkIdUser]) VALUES (3, N'Favoritos', 8)
INSERT [dbo].[ListOfBooks] ([IdListOfBooks], [ListName], [FkIdUser]) VALUES (4, N'ListaXD', 7)
SET IDENTITY_INSERT [dbo].[ListOfBooks] OFF
GO
INSERT [dbo].[ListOfBooks_Book] ([FkIdListOfBooks], [FkIdBook]) VALUES (2, 160)
INSERT [dbo].[ListOfBooks_Book] ([FkIdListOfBooks], [FkIdBook]) VALUES (2, 161)
INSERT [dbo].[ListOfBooks_Book] ([FkIdListOfBooks], [FkIdBook]) VALUES (2, 164)
GO
SET IDENTITY_INSERT [dbo].[Publication] ON 

INSERT [dbo].[Publication] ([IdPublication], [Title], [Content], [PubImage], [FkIdUser]) VALUES (1, N'El mejor libro', N'El mejor libro que he visto nunca es shiro', NULL, 7)
INSERT [dbo].[Publication] ([IdPublication], [Title], [Content], [PubImage], [FkIdUser]) VALUES (2, N'Lo que me gusta', N'me gusta lo que me gusta sino no me gusta lo que no me gusta', NULL, 7)
INSERT [dbo].[Publication] ([IdPublication], [Title], [Content], [PubImage], [FkIdUser]) VALUES (3, N'El nombre de el viento', N'Este libro me gusto mucho porque es la leche .

En vinagre me gusta mucho. Lo reocminedo 10% reocmendable. Seguirme y darle like', N'https://pictures.abebooks.com/inventory/md/md32049077981.jpg', 7)
SET IDENTITY_INSERT [dbo].[Publication] OFF
GO
INSERT [dbo].[PublicationLikes] ([FkIdUser], [FkIdPublication]) VALUES (7, 1)
INSERT [dbo].[PublicationLikes] ([FkIdUser], [FkIdPublication]) VALUES (7, 2)
INSERT [dbo].[PublicationLikes] ([FkIdUser], [FkIdPublication]) VALUES (16, 5)
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([IdReview], [Comment], [FKIdBook], [FkIdUser]) VALUES (1, N'Me gusta mucho', 160, 7)
INSERT [dbo].[Review] ([IdReview], [Comment], [FKIdBook], [FkIdUser]) VALUES (2, N'Es muy gyat', 161, 14)
INSERT [dbo].[Review] ([IdReview], [Comment], [FKIdBook], [FkIdUser]) VALUES (3, N'Guay paraguay', 160, 14)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [UserName], [Email], [PasswordHash], [PasswordSalt], [BirthDate], [ProfileImageUrl]) VALUES (8, N'aaaaaaa', N'aaaaaaa@gmail.com', 0x343125CBD17B55221BE7A693BBEE3E0B03186587436BB19D60BD2C19C5149094A14E9EB4ED82E1E9F0386C67E8AA0507DEA35D4E6274AAE70D2ABEF505D4F39A, 0xD64BC6D6698FCAE43D37ED6B965D68D70B47F02C5D7A541C5551EF7B2797EB0C4BC3BE2AF92381E52532C8AF07E65DF5FCCEE40440542A1C6E861F64AA7D5D4BC0185C2B647D68EBBF8803DBDC051F1240EC0C8AB61CD5B9CC2B10AB27E4B8702AF33225406104C806199049D84ECD40F4AF0919942E25E83B5F480731EC9325, NULL, NULL)
INSERT [dbo].[User] ([IdUser], [UserName], [Email], [PasswordHash], [PasswordSalt], [BirthDate], [ProfileImageUrl]) VALUES (9, N'jorji', N'jorji@gmail.com', 0xBFBFB448B57547D1A09DE1BD868C852C7926D389EE3127701310EB19F19AAF434BADB6A2312942C76C57C2819FEF8606E1AE17A29EA9C4741FA6BA7DF44EAAF5, 0xEA3B1C460B1E66CE92D7864BF8D27DDC333BD58A679DF8B271CAEA0130A6AF2CBA5E111F49B4BCE0520489FC76B2A7CDD2DF1B1DA7C794DD424D57D5CDEE452FAE6CD388972B52645E333EDCDF5D4FCD6B6259717A970D4FBAE1D2872C928C994F776D3C505DE479731C96B7E21FE02402F2313049402117A3659B8AF770CDE8, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__8517B2E049D09499]    Script Date: 15/12/2024 12:54:08 ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105349F69098A]    Script Date: 15/12/2024 12:54:08 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__C9F2845643C44FD6]    Script Date: 15/12/2024 12:54:08 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book_Category]  WITH CHECK ADD  CONSTRAINT [FK__Book_Cate__FkIdB__1CBC4616] FOREIGN KEY([FkIdBook])
REFERENCES [dbo].[Book] ([IdBook])
GO
ALTER TABLE [dbo].[Book_Category] CHECK CONSTRAINT [FK__Book_Cate__FkIdB__1CBC4616]
GO
ALTER TABLE [dbo].[Book_Category]  WITH CHECK ADD FOREIGN KEY([FkIdCategory])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD FOREIGN KEY([FkIdFollower])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD FOREIGN KEY([FkIdFollowed])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[ListOfBooks]  WITH CHECK ADD FOREIGN KEY([FkIdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[ListOfBooks_Book]  WITH CHECK ADD  CONSTRAINT [FK__ListOfBoo__FkIdB__123EB7A3] FOREIGN KEY([FkIdBook])
REFERENCES [dbo].[Book] ([IdBook])
GO
ALTER TABLE [dbo].[ListOfBooks_Book] CHECK CONSTRAINT [FK__ListOfBoo__FkIdB__123EB7A3]
GO
ALTER TABLE [dbo].[ListOfBooks_Book]  WITH CHECK ADD FOREIGN KEY([FkIdListOfBooks])
REFERENCES [dbo].[ListOfBooks] ([IdListOfBooks])
GO
ALTER TABLE [dbo].[ListOfBooks_Book]  WITH CHECK ADD  CONSTRAINT [FK_ListOfBooks_Book_Book] FOREIGN KEY([FkIdBook])
REFERENCES [dbo].[Book] ([IdBook])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListOfBooks_Book] CHECK CONSTRAINT [FK_ListOfBooks_Book_Book]
GO
ALTER TABLE [dbo].[ListOfBooks_Book]  WITH CHECK ADD  CONSTRAINT [FK_ListOfBooks_Book_ListOfBooks] FOREIGN KEY([FkIdListOfBooks])
REFERENCES [dbo].[ListOfBooks] ([IdListOfBooks])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListOfBooks_Book] CHECK CONSTRAINT [FK_ListOfBooks_Book_ListOfBooks]
GO
ALTER TABLE [dbo].[Publication]  WITH CHECK ADD FOREIGN KEY([FkIdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[PublicationLikes]  WITH CHECK ADD FOREIGN KEY([FkIdPublication])
REFERENCES [dbo].[Publication] ([IdPublication])
GO
ALTER TABLE [dbo].[PublicationLikes]  WITH CHECK ADD FOREIGN KEY([FkIdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK__Review__FKIdBook__151B244E] FOREIGN KEY([FKIdBook])
REFERENCES [dbo].[Book] ([IdBook])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK__Review__FKIdBook__151B244E]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([FkIdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
USE [master]
GO
