USE [master]
GO
/****** Object:  Database [BookSource]    Script Date: 15/12/2024 12:50:39 ******/
CREATE DATABASE [BookSource]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookSource', FILENAME = N'/var/opt/mssql/data/BookSource.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookSource_log', FILENAME = N'/var/opt/mssql/data/BookSource_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookSource].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookSource]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[IdBook] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Author] [varchar](255) NOT NULL,
	[Description] [varchar](5000) NULL,
	[ImageUrl] [varchar](255) NULL,
	[Subtitle] [varchar](255) NULL,
	[Editorial] [varchar](255) NULL,
	[PageCount] [int] NULL,
	[Score] [float] NULL,
 CONSTRAINT [PK__Book__2756CBDB64B970B1] PRIMARY KEY CLUSTERED 
(
	[IdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Category]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Category](
	[FkIdCategory] [int] NOT NULL,
	[FkIdBook] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FkIdCategory] ASC,
	[FkIdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[FkIdFollower] [int] NOT NULL,
	[FkIdFollowed] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FkIdFollower] ASC,
	[FkIdFollowed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfBooks]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfBooks](
	[IdListOfBooks] [int] IDENTITY(1,1) NOT NULL,
	[ListName] [varchar](255) NOT NULL,
	[FkIdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdListOfBooks] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfBooks_Book]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfBooks_Book](
	[FkIdListOfBooks] [int] NOT NULL,
	[FkIdBook] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FkIdListOfBooks] ASC,
	[FkIdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publication]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publication](
	[IdPublication] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Content] [varchar](255) NOT NULL,
	[PubImage] [varchar](255) NULL,
	[FkIdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPublication] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicationLikes]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicationLikes](
	[FkIdUser] [int] NOT NULL,
	[FkIdPublication] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FkIdUser] ASC,
	[FkIdPublication] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[IdReview] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [varchar](512) NOT NULL,
	[FKIdBook] [int] NOT NULL,
	[FkIdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/12/2024 12:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[BirthDate] [date] NULL,
	[ProfileImageUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book_Category]  WITH CHECK ADD  CONSTRAINT [FK__Book_Cate__FkIdB__1CBC4616] FOREIGN KEY([FkIdBook])
REFERENCES [dbo].[Book] ([IdBook])
GO
ALTER TABLE [dbo].[Book_Category] CHECK CONSTRAINT [FK__Book_Cate__FkIdB__1CBC4616]
GO
ALTER TABLE [dbo].[Book_Category]  WITH CHECK ADD FOREIGN KEY([FkIdCategory])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD FOREIGN KEY([FkIdFollower])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD FOREIGN KEY([FkIdFollowed])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[ListOfBooks]  WITH CHECK ADD FOREIGN KEY([FkIdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[ListOfBooks_Book]  WITH CHECK ADD  CONSTRAINT [FK__ListOfBoo__FkIdB__123EB7A3] FOREIGN KEY([FkIdBook])
REFERENCES [dbo].[Book] ([IdBook])
GO
ALTER TABLE [dbo].[ListOfBooks_Book] CHECK CONSTRAINT [FK__ListOfBoo__FkIdB__123EB7A3]
GO
ALTER TABLE [dbo].[ListOfBooks_Book]  WITH CHECK ADD FOREIGN KEY([FkIdListOfBooks])
REFERENCES [dbo].[ListOfBooks] ([IdListOfBooks])
GO
ALTER TABLE [dbo].[ListOfBooks_Book]  WITH CHECK ADD  CONSTRAINT [FK_ListOfBooks_Book_Book] FOREIGN KEY([FkIdBook])
REFERENCES [dbo].[Book] ([IdBook])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListOfBooks_Book] CHECK CONSTRAINT [FK_ListOfBooks_Book_Book]
GO
ALTER TABLE [dbo].[ListOfBooks_Book]  WITH CHECK ADD  CONSTRAINT [FK_ListOfBooks_Book_ListOfBooks] FOREIGN KEY([FkIdListOfBooks])
REFERENCES [dbo].[ListOfBooks] ([IdListOfBooks])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListOfBooks_Book] CHECK CONSTRAINT [FK_ListOfBooks_Book_ListOfBooks]
GO
ALTER TABLE [dbo].[Publication]  WITH CHECK ADD FOREIGN KEY([FkIdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[PublicationLikes]  WITH CHECK ADD FOREIGN KEY([FkIdPublication])
REFERENCES [dbo].[Publication] ([IdPublication])
GO
ALTER TABLE [dbo].[PublicationLikes]  WITH CHECK ADD FOREIGN KEY([FkIdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK__Review__FKIdBook__151B244E] FOREIGN KEY([FKIdBook])
REFERENCES [dbo].[Book] ([IdBook])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK__Review__FKIdBook__151B244E]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([FkIdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
USE [master]
GO
